In [165]:
import numpy as np
import pandas as pd
import datetime as dt
import sklearn
from scipy import stats
from sklearn import preprocessing
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score as rs
from sklearn.metrics import precision_score as ps
from sklearn.metrics import f1_score as fs
from sklearn.metrics import log_loss

In [241]:
df = pd.read_csv('data.csv', encoding='utf-8')
df = df.drop(['id', 'country', 'recov', 'symptom1', 'symptom2', 'symptom3', 'symptom4',
              'symptom5', 'symptom6','sym_on','hosp_vis'], axis=1)
df = df.fillna('0')

In [242]:
for i in range(len(df)):
    if df.iloc[i, 0] in ['Wuhan, Hubei']:
        df.iloc[i, 0] = 'Wuhan'
    elif df.iloc[i, 0] in ['Shenzhen, Guangdong', 'Macau', 'Guangxi', 'Henan', 'Hechi, Guangxi', 'Hong Kong']:
        df.iloc[i, 0] = 'South China'
    elif df.iloc[i, 0] in ['Shanghai', 'Zhejiang', 'Shandong', 'Jiangxi', 'Fujian', 'Jiangsu']:
        df.iloc[i, 0] = 'East China'
    elif df.iloc[i, 0] in ['Tianjin', 'Beijing', 'Shanxi', 'Hebei', 'Inner Mongolia', ]:
        df.iloc[i, 0] = 'North China'
    elif df.iloc[i, 0] in ['Chongqing', 'Sichuan', 'Yunnan', 'Guizhou']:
        df.iloc[i, 0] = 'Southwest China'
    elif df.iloc[i, 0] in ['Liaoning', 'Heilongjiang', 'Jilin']:
        df.iloc[i, 0] = 'Northeast China'
    elif df.iloc[i, 0] in ['Ningxia', 'Gansu', 'Xinjiang', 'Ningxia', 'Shaanxi']:
        df.iloc[i, 0] = 'Northwest China'
    elif df.iloc[i, 0] in ['Hubei']:
        df.iloc[i, 0] = 'Central China'

In [248]:
df

     location gender age  vis_wuhan from_wuhan  death
0           1      2   1          1          0      0
1           1      1   1          0          1      0
2           1      2   1          0          1      0
3           1      1   1          1          0      0
4           1      2   1          0          0      0
...       ...    ...  ..        ...        ...    ...
1080        0      0   1          0          0      0
1081        0      0   1          0          0      0
1082        0      2   0          0          0      0
1083        0      2   0          0          0      0
1084        0      2   1          0          0      0

[1085 rows x 6 columns]

In [244]:
print(df.dtypes)

location      object
gender        object
age           object
vis_wuhan      int64
from_wuhan    object
death          int64
dtype: object

In [245]:
for i in range(len(df)):
    if 'Wuhan' in df.iloc[i, 0]:
        df.iloc[i, 0] = 2
    elif 'China' in df.iloc[i, 0]:
        df.iloc[i, 0] = 1
    else:
        df.iloc[i, 0] = 0

In [246]:
for i in range(len(df)):
    if 'female' in df.iloc[i, 1]:
        df.iloc[i, 1] = 1
    elif 'male' in df.iloc[i, 1]:
        df.iloc[i, 1] = 2
    else:
        df.iloc[i, 1] = 0

In [247]:
for i in range(len(df)):
    if int(df.iloc[i, 2]) <71 and int(df.iloc[i, 2]) >19:
        df.iloc[i, 2] = 1
    else:
        df.iloc[i, 2] = 0

In [230]:
print(df.isna().sum())

location      0
gender        0
age           0
vis_wuhan     0
from_wuhan    0
death         0
dtype: int64

In [240]:
df.to_csv('c.csv', encoding="utf-8")